nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    padding: 1rem 2rem;
    background: linear-gradient(180deg, #000, rgba(0,0,0,0.3) ,rgba(0,0,0,0.1));
    background: pink;
    .logo-container{
        .logo{
            height: 8rem;
            background-color: green;
        }
    }
}